<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<display-name>ParkingSystem</display-name>



	<welcome-file-list>
		<welcome-file>LandingPage.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UserServelet</servlet-name>
		<servlet-class>UserServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServelet</servlet-name>
		<url-pattern>/UserServelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RecordServlet</servlet-name>
		<servlet-class>RecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecordServlet</servlet-name>
		<url-pattern>/RecordServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>managerServlet</servlet-name>
		<servlet-class>managerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>managerServlet</servlet-name>
		<url-pattern>/managerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>LoginDAO</display-name>
		<servlet-name>LoginDAO</servlet-name>
		<servlet-class>LoginDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginDAO</servlet-name>
		<url-pattern>/LoginDAO</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddVeDAO</display-name>
		<servlet-name>AddVeDAO</servlet-name>
		<servlet-class>AddVeDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVeDAO</servlet-name>
		<url-pattern>/AddVeDAO</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AdminDAO</display-name>
		<servlet-name>AdminDAO</servlet-name>
		<servlet-class>AdminDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDAO</servlet-name>
		<url-pattern>/AdminDAO</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerDAO</servlet-name>
		<servlet-class>ManagerDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerDAO</servlet-name>
		<url-pattern>/ManagerDAO</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>displayRecordServlet</servlet-name>
		<servlet-class>displayRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>displayRecordServlet</servlet-name>
		<url-pattern>/displayRecordServlet</url-pattern>
	</servlet-mapping>
</web-app>
